---
import { getPosts } from "../util/Api";
import { subtitle, url, preview, images, readMore } from "../util/Format";
import Page from "../layouts/Page.astro";
import LinkIcon from "../components/LinkIcon.astro";

const posts = await getPosts();
const visible = posts.filter((item) => item.visible);
const selected = visible.slice(0, 20);
---

<Page title="Home">
  <div class="bio">
    <picture>
      <img src="/images/profile.avif" alt="George Black profile image" />
    </picture>
    <div>
      <p>
        Howdy - I'm a software engineer working in Austin, Texas. This is my
        small home on the internet, where I write (mostly for myself). Say hi on <a
          href="https://bsky.app/profile/george.black">Bluesky</a
        >!
      </p>
    </div>
  </div>
  <div class="content">
    {
      selected.map((item) => (
        <article style="margin-top: 4em;">
          <h1>
            <a href={url(item)}>
              {item.link && <LinkIcon />}
              {item.title}
            </a>
          </h1>
          <p class="subtitle">{subtitle(item)}</p>
          <Fragment set:html={preview(item)} />
          {item.gallery && (
            <div class="image-grid">
              {images(item).map((image) => {
                return (
                  <a href={url(item)}>
                    <img src={image} />
                  </a>
                );
              })}
            </div>
          )}
          {readMore(item) && (
            <a class="read-more-button" href={url(item)}>
              <p>Read More &#8594;</p>
            </a>
          )}
        </article>
      ))
    }
  </div>
</Page>
