---
import { getCombined } from "../util/Api";
import { subtitle, url, preview, readMore } from "../util/Format";
import Page from "../layouts/Page.astro";

const combined = await getCombined();
const visible = combined.filter((item) => {
  if ("visible" in item) return item.visible;
  return true;
});
---

<Page title="Home">
  {
    visible.map((item) => (
      <article style="margin-bottom: 6em;">
        <h1>
          <a href={url(item)}>{item.title}</a>
        </h1>
        <p class="subtitle">{subtitle(item)}</p>

        <Fragment set:html={preview(item)} />
        {readMore(item) && (
          <a class="read-more-button" href={url(item)}>
            <p>Read More &#8594;</p>
          </a>
        )}
      </article>
    ))
  }
  <p><a href="/archive">Go to Archive</a></p>
</Page>
