---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  date: string;
  link?: string;
}

const { title, date, link } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body>
    <Header />
    <main class="post">
      <article>
        {
          link ? (
            <h1>
              🔗 <a href={link}>{title}</a>
            </h1>
          ) : (
            <h1>{title}</h1>
          )
        }
        <p class="subtitle">{date}</p>
        <slot />
      </article>
    </main>
    <Footer />
  </body><script async src="https://scripts.simpleanalyticscdn.com/latest.js"
  ></script>
</html>
